
body{
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
    background:url("Train.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    width: 360px;
    background:white;
    margin: auto;
    border-radius: 10px;
    
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: #000;
    padding-top: 15px;
}

.wrapper.input-box{
    position: fixed;
    width: 5%;
    height:50px;
    margin: 30px 0;
    color: #000;
}

.input-box input{
    width: 75%;
    height: 75%;
    background: grey;
    border: black;
    outline: black;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 20px 20px 20px;
}

.input-box input::placeholder{
    color:#000;
}



.wrapper  .btn{
    width: 25%;
    height: 50px;
    background:grey;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    position: relative;

}
.wrapper.register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    color: blue;
}


.register-link p a{
    color: blue;
    text-decoration:underline;
    font-weight:600;
}

.register-link p a:hover{
    text-decoration: underline;
    color: blue;
}