body{
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
    background: url("image4.jpg") no-repeat center center fixed;
    background-size: cover;
}
.signup-box{
    width: 360px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}
h1{
    text-align: center;
    padding-top: 15px;
     
}
form{
    width: 300px; 
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width:100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
}

 .btn{
    width: 25%;
    height: 45px;
    background: rgb(110, 110, 109);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.para1{
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -20px;
}

.para1 a{
    color: blue;
}